<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<h1>Edit  User</h1>
<form action="#" method="post">
    <li> <b>id:</b>{{user.id}} <b>email:</b> {{user.email}} <b>pass:</b> {{user.password}} </li>
    <br> <br>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" name="email" value="{{user.email}}">
        <label for="password">Password:</label>
        <input type="text" class="form-control" name="password" value="{{user.password}}">
        <br> <br>
        <label for="user.profile.phone">Phone:</label>
        <input type="text" class="form-control" name="phone" value="{{user.profile.phone}}">
        <br> <br>
        <button type="submit"> Сохранить изменения </button>
    </div>
</form>
    <br>
    <a href="{{ url_for('show_users') }}">
        <button> Отмена </button>
    </a>
</body>
</html>